html {
    background-image: url("field1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Garamond", serif;
    font-size: 200%;
    font-weight: 500;
}

.dayListItem {
    list-style-type: none;
    width: 550px;
    padding: 7px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 10px 10px 50px black;
    
    /* border: 1px solid red; */
}
.night {
    background-color: rgb(18, 38, 80);
    color: aliceblue;
}
.day {
    background-color: rgb(139, 188, 192);
    color: rgb(18, 38, 80);
}

.hourSubList {
    display: block;
    list-style-type: none;
    padding-left: 0;
    /* border: 1px solid blue; */
}
.hourSubItem {
    display: flex;
    align-items: center;
    justify-content: space-between; /*  https://www.reddit.com/r/css/comments/q791ts/css_flex_explained_in_1_animation/?ref=share&ref_source=link */
    margin: 10px;
    padding-left: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
    /* border: 2px solid green; */
}
.big {
    font-size: 100%;
    text-align: center;
    display: inline-block;

    /* border: 1px solid lime; */
}
.small {
    font-size: 50%;
    text-align: left;
    display: inline-block;

    /* border: 1px solid lime; */
}
